@font-face {
	src: url(fonts/Montserrat-Medium.woff2) format(woff2);
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;

}
@font-face {
	src: url(fonts/Montserrat-SemiBold.woff2) format(woff2);
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
}
